/* 
DEFAULTS 
 */

@font-face {
    font-family: RobotoRegular;
    src: url(../resources/fonts/Roboto-Regular.ttf);
}

body {
    font-family: RobotoRegular
}



/* 
FOOTER 
 */

.footerContainer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: #6B7A8F;
    color: whitesmoke;
    padding: 10px
}

/*
TEXT ALIGNS
*/

.center {
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
    text-indent: 30px;
}

/* 
STANDARD CONTENT ==========================
*/

.standardContent body {
    margin-left: 33%;
    margin-right: 33%;
}

/*
NAVBAR
*/
.navbar {
    font-family: RobotoRegular;
}

.navbar ul {
    list-style-type: none;
    background-color: #6B7A8F;
    overflow: hidden;
}

.navbar li {
    float: left;

}

.navbar a {
    text-decoration: none;
    padding: 1.2vw;
    color: whitesmoke;
    display: block;
}

a:hover {
    background-color: #f7882f;
}

/*
learnTableStyling
*/

.learnTableStyling {
    font-family: RobotoRegular;
}

.learnTableStyling th {
    padding: 1vw;
}

.learnTableStyling table,
th,
td {
    border: 2px solid whitesmoke;
    border-collapse: collapse;
}

.learnTableStyling th {
    background-color: #f7882f;
    color: whitesmoke;
}

.learnTableStyling tr:hover {
    background-color: #f7c331;
}