.character {
    background-color: dimgray;
    width: 200px;
}

.element {
    background-color: black;
    width: 100px;
}

.posBot {
    position: relative;
    bottom: 2px;
    top: 5px;
    left: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.posFixed {
    position: fixed;
    bottom: 200px;
    left: 200px;
    border: lawngreen 2px solid;
}

.posFixed2 {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: brown 2px solid;
}

.footerFormat {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    font-style: italic;
}

@font-face {
    font-family: Source Code Pro;
    src: url(resources/fonts/SourceCodePro-Regular.ttf);
}

.footerContainer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: gainsboro;
    padding: 10px
}

.navbar td {
    padding: 0px 35px 0px 35px;
    position: static;
}

.navbar {
    background-color: gainsboro;
    padding: 1%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: RobotoRegular;
    src: url(../resources/fonts/Roboto-Regular.ttf);
}

body {
    margin-left: 33%;
    margin-right: 33%;
    font-family: RobotoRegular
}

.justify {
    text-align: justify;
    text-indent: 30px;
}